---
layout: default
title: Topics
description: All the things I'm interested in
menu_order: 3
---

<section id="topics">
    <h2>Topics</h2>
    <article id="dnd">
        <h3>Dungeons & Dragons</h3>
        <p>Information and resources about my favorite tabletop RPG.</p>
        <ul>
            {% for dnd_page in site.dnd %}
            <li>
                <a href="{{ dnd_page.url }}">{{ dnd_page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>
    <article id="aging">
        <h3>Finding a Cure for Aging</h3>
        <p>Research and discussions on the quest to find a cure for aging.</p>
        <ul>
            {% for aging_page in site.aging %}
            <li>
                <a href="{{ aging_page.url }}">{{ aging_page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>
    <article id="tech">
        <h3>Technology</h3>
        <p>Latest advancements and my projects in the world of technology.</p>
        <ul>
            {% for tech_page in site.tech %}
            <li>
                <a href="{{ tech_page.url }}">{{ tech_page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </article>

</section>